{% extends 'superbuy/base.html' %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {% block content-header %}Pace page{% endblock %}
            {% block cont-header-small %}
                <small>Loading example</small>{% endblock %}
        </h1>
        {% block header-right %}
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Examples</a></li>
                <li class="active">Pace page</li>
            </ol>
        {% endblock %}
    </section>

    <!-- Main content -->
    <section class="content">
        {% block content_box %}
        {% include 'superbuy/box_base.html' %}
        {% endblock %}
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}